# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.sheep-game.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projeler\YurtGames\sheep-game\.idea\.idea.sheep-game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
