# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.NewViking.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projeler\YurtGames\NewViking\.idea\.idea.NewViking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
