# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.viking-game.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projeler\YurtGames\viking-game\.idea\.idea.viking-game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
